
@model GIPHoodie.Models.VMBestelling

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/idk3wns.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Bevestiging</title>
</head>
<body class="m-3 achtergrond">
    <h2 class="titel centreerTekst">Online Hoodieshop - Bestelbevestiging</h2>
    <div class="kaderBev">
        <table>     
            <tr>
                <td>Beste</td>
            </tr>
            
            <tr>
                <td>We hebben uw bestelling met bestelnummer @Model.Bestelling.OrderID goed ontvangen</td>
            </tr>
            <tr>
                <td>Na overschrijving van €@ViewBag.prijs op rekeningnummer <span class="onderlijn">BE32 1214 4389 1894</span> worden de goederen verpakt en verstuurd.</td>
            </tr>
            <tr>
                <td>U ontving deze bevestiging ook via e-mail.</td>
            </tr>
            <tr>
                <td>Bedankt voor uw vertrouwen!</td>
            </tr>
            
            <tr>
                <td class="text-wrap">Hoodie team</td>
            </tr>
            
        </table>
    </div>
    <p class="centreerTekst"><a asp-action="Index" asp-controller="Home">Terug naar catalogus</a></p>
</body>
</html>
