
@model GIPHoodie.Models.Klant

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/idk3wns.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body class="m-3 achtergrond">
    <div class="kader">
        <form asp-action="Login" asp-controller="Auth">
            <h2 class="titel centreerTekst">Inloggen</h2>
            <table class="table">
                <tr>
                    <td class="tekstRechts">Gebruikersnaam: </td>
                    <td><input type="text" asp-for="Naam" /></td>
                </tr>
                <tr>
                    <td class="tekstRechts">Wachtwoord: </td>
                    <td><input type="password" asp-for="Wachtwoord" /></td>
                </tr>
            </table>
            <p class="centreerTekst"><input class="btn-dark" type="submit" value="meld aan." /></p>
            <p class="Foutmelding">@ViewBag.fout</p>

        </form>
    </div>
</body>
</html>
