.opmaakFoto{
    width:200px;
}

.groteFoto{
    width:500px;
}
.kleinefoto{
    width:100px;

    
}
.achtergrond {
    background-image: url('../images/BGWeb.PNG');
}
.centreerTekst{
    text-align:center
}

.titel{
    font-family: indie-flower, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.subTitel {
    font-family: indie-flower, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.vuilbak{
    width:35px;
}

.tekstRechts{
    text-align:right;
}

.tekstlinks {
    text-align: left;
}
.Foutmelding{
    color:red;
    font-weight:bold
}
.tekstVet {

    font-weight: bold;
}
.onderlijn{
    text-decoration:underline;
}
.kader {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 200px;
    margin-top: 80px;
    padding-top: 50px;
    background-color:gainsboro;
    border:solid;
}
.VuilOpschuiven {
    
    margin-left: 10px;
    margin-right:10px
}
.FotoOpschuiven {
    
    margin-left: 10px;

}
.TeksWM {
    white-space:pre-wrap;
}
.fotoWinkM{
     padding-right:20px;
     margin-right:20px;
}
.colomBreedte{
    width:100px;
}
.kaderBev {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 200px;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: gainsboro;
    border: solid;
}